<footer id="contact" class="text-center">
  
  <div class="contact">
    <h5>HBG Contruction Corp</h5>
    <p>
      Email: <a href="mailto:info@azriahome.com" title="Email Us">info@azriahome.com</a> &nbsp;|&nbsp; <a href="tel:+18582208790" title="Call us at .858.220.8790">1.858.220.8790</a> &nbsp;|&nbsp; <a href="https://goo.gl/maps/3dnJ2kixoNs" alt="Google Map Us">2761 Fruitland Ave. Vernon CA, 90058</a>
    </p>
  </div>
</footer>