<header data-sticky-container id="main">
  <div class="sticky" data-sticky data-sticky-on="small" data-margin-top="0">
    <div class="top-bar" >
      <div class="top-bar-left" data-smooth-scroll>
        <a href="#top"><img src="/img/logo-hbg.svg" alt="HBG Steel Logo" class="logo"></a>
        <div class="menu-icon-wrap" data-responsive-toggle="example-menu" data-hide-for="medium" >
          <div class="title-bar-title">Menu</div>
          <button class="menu-icon" type="button" data-toggle="example-menu"></button>
        </div>
      </div>
      <div class="top-bar-right align-bottom" >
        <ul class="menu" id="example-menu" data-animate="fade-in fade-out" data-smooth-scroll>
          <!--<li><a href="#about" title="About Us">About</a></li>-->
          <li><a href="#services" title="Services">Services</a></li>
          <li><a href="#projects" title="Projects">Projects</a></li>
          <li><a href="#news" title="News">News</a></li>
          <li><a href="#contact" title="Contact Us">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>